<div class="ky-card-listing">
  <!--<div class="card-header card-success">
      <span class="ky-font-white">Employees</span>
    </div>-->
  <div class="card-block">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A2111</td>
          <td>Monseiur</td>
          <td>12/12/2012</td>
          <td>
            <a class="btn"><i class="fa fa-pencil ky-teal-text"></i> </a>
            <a class="btn"><i class="fa fa-close ky-red-text"></i> </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>