<div class="ky-card-listing">
  <!--<div class="card-header card-success">
      <span class="ky-font-white">Employees</span>
    </div>-->
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="employees">
        <tr  *ngFor="let emp of employees">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.dob}}</td>
          <td>
            <a><i class="fa fa-pencil ky-teal-text"></i> </a>
            <a><i class="fa fa-close ky-red-text"></i> </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>